<section class="blank-posts">
  <div class="post-card">
    <h3>{{post.title}}</h3>
    <p>By: {{post.username}}</p>
    {{!-- <p>{{ format_date post.posting_date}}</p> --}}
    <input class="form-input" type="text" id="post-content" />
  </div>
</section>